.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    margin-right: 1rem;
    cursor: pointer;
}

.sidenav {
    width: 18.75rem;
}

.logo-container {
    display: flex;
    align-items: center;
    min-height: 3.5rem;
    padding: 0rem 1rem 0rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    img {
        max-width: 100%;
        object-fit: contain;
    }
}

.menu-items {
    padding: 0px;
    margin: 0px;
    list-style-type: none;

    li {
        display: flex;
        align-items: center;
        height: 3rem;
        padding: 0rem 1rem 0rem 1rem;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }

        mat-icon {
            margin-right: 1rem;
        }
    }
}

mat-toolbar-row, mat-toolbar {
    height: 3.5rem;
    min-height: 3.5rem;
}